
.sidebar {
  width: 1920px;
  height: 1080px;
  flex-shrink: 0;
  fill: #ccc;
}

.servers-container.withServerContainer {
    background-color: #fff;
  }

.logo-container {
    display: flex;
    margin-right: 10px;
    align-items: center; /* Vertically center items */
  }

.sidebar-logo {
  width: 73px;
  height: 73px;
  flex-shrink: 0;
}

.communify-text {
  color: #333;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sidebar-search {
  width: 279px;
  height: 48px;
  flex-shrink: 0;
  fill: #f5f5f5;
}


.sidebar-menu {
    color: #333;
    top: 814px;
    left: 125px;
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
  }
  

  .sidebar-menu div {
    display: flex;
    align-items: center; 
    margin-bottom: 15px;
  }
  
  .sidebar-menu label {
    margin: 0;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sidebar-menu label:hover {
    background-color: #f0f0f0;
    color: #555;
  }
  
  .sidebar-menu label:active {
    background-color: #ddd;
    color: #555;
  }
  
  .sidebar-menu label.active {
    background-color: #ddd;
    color: #555;
  }
  
  
  


  


.signout {
    display: inline-block;
    position: absolute;
    top: 900px;
    left: 100px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #e74c3c; 
    border: 2px solid #c0392b; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .signout:hover {
    background-color: #c0392b; 
    color: #fff;
  }
  
