
div {
    margin: 20px; 
  }

  .server-body {
    background-color: #fff;
    margin: 20px;
    padding: 20px; 
  }
  

  h1.create-server {
    font-size: 24px;
    color: #333;
  }

  li {
    margin-bottom: 10px; /* Add some space between list items */
  }
  

  .label-servername,
  .label-servercategory {
    margin-bottom: 10px;
    display: block;
  }
  

  .input-servername,
  .input-servercategory {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  

  .btn-createserver {
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  

  .btn-createserver:hover {
    background-color: #2980b9;
  }
  